<ion-view title="Detalhes Treinamento" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="detalhesTrainamento-heading2" style="color:#000000;">{{training.name}}</h1>
    <div class="spacer" style="width: 288px; height: 33px;"></div>
    <h3 id="detalhesTrainamento-heading3" style="color:#000000;">Detalhes:</h3>
    <div id="detalhesTrainamento-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Vagas Oferecidas: {{training.vacancyOffered}}</p>
    </div>
    <div id="detalhesTrainamento-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Quantidade Aulas: {{training.quantLesson}}</p>
    </div>
    <div id="detalhesTrainamento-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Data Início: {{training.dateStart}}</p>
    </div>
    <div id="detalhesTrainamento-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Data Fim: {{training.dateFinish}}</p>
    </div>
    <div id="detalhesTrainamento-container2" data-ng-if="renderEnviarNota()">
      <h4 id="detalhesTrainamento-heading4" style="color:#000000;">Dê uma nota:</h4>
      <form id="detalhesTrainamento-form3" class="list">
        <label class="item item-select" id="detalhesTrainamento-select1" name="nota">
          <span class="input-label">Selecione a nota</span>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </label>
        <button id="detalhesTrainamento-button3" style="font-size:-3px;" class="button button-positive button-block">Enviar!</button>
      </form>
    </div>
    <div class="spacer" style="width: 288px; height: 30px;"></div>
    <div data-ng-if="renderVerIndicadores()">
      <h3 id="detalhesTrainamento-heading5" style="color:#000000;">Indicadores</h3>
      <div id="detalhesTrainamento-markdown6" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Aprovação:</p>
      </div>
      <div id="detalhesTrainamento-markdown7" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Vagas:</p>
      </div>
    </div>
  </ion-content>
</ion-view>