<ion-view title="Detalhes Treinamento" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="detalhesTrainamento-heading2" style="color:#000000;">{{training.name}}</h1>
    <div class="spacer" style="width: 288px; height: 33px;"></div>
    <h3 id="detalhesTrainamento-heading3" style="color:#000000;">Detalhes:</h3>
    <div id="detalhesTrainamento-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Vagas Oferecidas: {{training.vacancyOffered}}</p>
    </div>
    <div id="detalhesTrainamento-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Quantidade Aulas: {{training.quantLesson}}</p>
    </div>
    <div id="detalhesTrainamento-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Data Início: {{training.dateStart}}</p>
    </div>
    <div id="detalhesTrainamento-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Data Fim: {{training.dateFinish}}</p>
    </div>
    <div id="detalhesTrainamento-container2" data-ng-if="renderUserEmployee()">
      <h4 id="detalhesTrainamento-heading4" style="color:#000000;">Dê uma nota:</h4>
      <form id="detalhesTrainamento-form3" class="list">
        <label class="item item-select" id="detalhesTrainamento-select1" name="nota">
          <span class="input-label">Selecione a nota</span>
          <select data-ng-model="rating.points">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </label>
        
      </form>
    </div>

    <!-- Div de Elementos de usuario Appraiser -->
    <div data-ng-if="renderUserAppraiser()" data-ng-init="loadIndicators(training.id)">    

      <!-- Div para espaçamento entre item -->
      <div class="spacer" style="width: 288px; height: 30px;"></div>

      <h3 id="detalhesTrainamento-heading5" style="color:#000000;">Indicadores</h3>
    
      <div id="detalhesTrainamento-markdown6" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Aprovação: {{indicadores.rating}}</p>
      </div>
    
      <div id="detalhesTrainamento-markdown7" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Vagas Preenchidas: {{indicadores.vacancy}}</p>
      </div>

      <!-- Div para espaçamento entre item -->
      <div class="spacer" style="width: 288px; height: 30px;"></div>

      <!-- Botao para cadastrar pergunta ao treinamento -->
      <button id="detalhesTrainamento-buttonCadastrarPergunta" 
          style="font-size:-3px;" data-ng-click="cadastrarPergunta(training.id)"
          class="button button-positive button-block">Cadastrar Pergunta!</button>

    </div>

  </ion-content>
</ion-view>