<ion-view title="Informações" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="informaEs-heading6" style="color:#000000;font-style:italic;text-align:justify;">Informações sobre o app</h1>
    <div class="spacer" style="height: 33px;"></div>
    <h3 id="informaEs-heading7" style="color:#000000;">Objetivo</h3>
    <div id="informaEs-markdown9" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">O Aplicativo possui ênfase na área de treinamento e desenvolvimento de empresas. Trata-se de um conjunto de perguntas para que os funcionários sejam avaliados sobre uma capacitação realizada. O avaliador insere perguntas (que podem ser abertas ou
        fechadas) sobre uma capacitação. Por sua vez, os funcionários respondem as perguntas as quais são transmitidas para o avaliador que poderá analisar as respostas para verificar o nível de aproveitamento do treinamento. Utilizando-se da estrutura
        de perguntas e respostas consegue-se atingir os dois primeiros níveis de avaliação propostos por Kirkpatrick (1976).</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <h3 id="informaEs-heading8" style="color:#000000;">Fundamentação Teórica</h3>
    <div id="informaEs-markdown10" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Adotar treinamentos para qualificação dos funcionários é importante para o desenvolvimento organizacional, principalmente em um contexto de mudanças rápidas, em que a necessidade de colaboradores mais qualificados é iminente. Ao decidir adotar uma
        política de treinamentos, uma empresa pode adotar métodos de análise a fim de obter dados sobre, por exemplo, a efetividade do treinamento e o grau de entusiasmo dos funcionários. Segundo MELO e VITORINO (2016) os modelos de Kirkpatrick (1976)
        e o Hamblin (1978) destacam-se no processo de análise de resultados de capacitação e são reconhecidos mundialmente. Para mensurar o impacto do treinamento, Kirkpatrick sugere quatro níveis de avaliação: Reação - avalia-se a satisfação dos participantes
        com o treinamento como, por exemplo se o instrutor manteve a atenção do grupo, se o participante gostou dos exercícios e se recomendaria o treinamento; Aprendizagem - avaliação quanto ao nível de aprendizagem e se o participante adquiriu novas
        habilidades e/ou conhecimentos; mudança no comportamento - avalia o impacto no trabalho através das novas habilidades de aprendizagem e adoção de novas atitudes que mudam o comportamento; resultados - foca-se em medir o impacto da capacitação
        nos resultados da organização.</p>
    </div>
    <h4 id="informaEs-heading9" style="color:#000000;">Referencial Teórico</h4>
    <div id="informaEs-markdown11" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">MELO, Diego Dias e VITORINO, Maria da Glória Guimarães. Avaliação do impacto da capacitação profissional no ambito da prefeitura de manaus por meio da aplicação do modelo impact, Perspectivas em Gestão &amp; Conhecimento, João Pessoa, v. 6, n. 1,
        p. 200-222, jan./jun. 2016. http://periodicos.ufpb.br/ojs2/index.php/pgc.</p>
    </div>
  </ion-content>
</ion-view>